<!DOCTYPE html>
<html>
<head>
  <title>XSS Injected page</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>A page with XSS injections</h1>

<!--################################################################################################################################################-->
<!--   XSS vulnerable template                                                                                                                            -->
<!--################################################################################################################################################-->

Hello <%- name %>!



<!--################################################################################################################################################-->
<!--################################################################################################################################################-->
<!--################################################################################################################################################-->
<br/>
<br/>
<br/>
<hr/>
<br/>
<br/>
<br/>
<h3>Submitted Data </h3>

<pre>
  <code>
    Name = <b><%= name %></b>
  </code>
</pre>
<br/>
<br/>
<br/>

<a href="/" >🔙 Home Page</a>
</body>
</html>
